body {
    background-color: rgb(191, 17, 17); /* cor de fundo da página*/
    color:rgb(255, 255, 255); /* cor da escrita */
    font-family: "Homemade Apple",sans-serif;
}

header {
    border: solid 2px rgb(255, 255, 255);
    font-size: 32px;
    padding: 10px;
    color: alicered;
}

section {
     background-color: rgb(223, 156, 12);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px; /* tamanho da fonte */
    text-align: center; /* centralizado*/
    text-transform: uppercase; /* letras maiúsculas*/
}

p {
    font-size: 16px;
    color: alicered;
}
